* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif;
}
header {
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  min-height: 45px;
  justify-content: space-around;
  background-color: #eeeeee;
}
nav {
  font-size: 16px;
}
ul {
  list-style: none;
}
nav > ul {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  width: 35vw;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #0c0c0c;
}
input {
  display: block;
  margin: 0 auto;
}
main {
  margin: 5em 2em;
}
article {
  display: flex;
  flex-direction: row;
}
article:not(:last-child) {
  margin-bottom: 4em;
}
#submit,
button {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  background-color: #f1c40f;
  transition: ease-in-out 30ms;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 40px;
}
h3,
h4,
#pricing li {
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  background-color: #dddddd;
  height: 49px;
  font-size: 16px;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  height: 54px;
}
#pricing li {
  line-height: 2em;
}
footer {
  background-color: #dddddd;
  margin-top: 30px;
  height: 82px;
  padding: 10px;
}
footer ul {
  display: flex;
  justify-content: flex-end;
}
footer li {
  display: inline-block;
  margin: 10px;
}
footer .copyright {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 10px 10px;
  color: #444444;
  font-weight: 400;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: #0c0c0c;
  font-size: 16px;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}
.types ul {
  margin-bottom: 10px;
}
.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.fa-solid {
  font-size: 3em;
  color: #ff8c00;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}
.types {
  display: flex;
  flex-direction: column;
  border: solid #0c0c0c;
  border-radius: 4px;
  height: 312px;
  width: 282px;
  text-align: center;
  margin: 10px;
}
#pricing {
  display: flex;
  justify-content: center;
}
#email {
  padding: 5px;
  min-height: 30px;
  min-width: 275px;
  margin-bottom: 20px;
}
#submit {
  min-height: 30px;
  min-width: 150px;
}
#submit:hover,
button:hover {
  background-color: #ffa500;
}
.logo {
  width: 60vw;
}
.page-wrapper {
  position: relative;
}
.get-started {
  margin-top: 70px;
  text-align: center;
  line-height: 4em;
}

#header-img {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 285px;
}
@media (max-width: 768px) {
  article {
    flex-direction: column;
    align-items: center;
  }
  h3 {
    width: 100%;
  }
  .desc {
    width: 55vw;
    margin-top: 20px;
    align-items: center;
  }
  #pricing {
    flex-direction: column;
    align-items: center;
  }
  .types {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 38vw;
  }
  nav {
    font-size: 8px;
  }
  .get-started {
    line-height: 2em;
  }
  .desc {
    width: 70vw;
    text-align: center;
  }
  iframe {
    padding: 25px;
  }
}
