* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif;
}
header {
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  min-height: 45px;
  justify-content: space-around;
  background-color: #eeeeee;
}
nav {
  font-size: 16px;
}
nav > ul {
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  width: 35vw;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #0c0c0c;
}
input {
  display: block;
  margin: 0 auto;
}
main {
  margin: 5em 0;
}
article {
  display: flex;
  flex-direction: row;
}
article:not(:last-child) {
  margin-bottom: 4em;
}
#submit,
button {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  background-color: #f1c40f;
  transition: ease-in-out 30ms;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 40px;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}
.types ul {
  list-style: none;
}
.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.fa-solid {
  font-size: 3em;
  color: #ff8c00;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}
.types {
  border: solid #0c0c0c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 312px;
  width: 282px;
  line-height: 2em;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#pricing {
  display: flex;
  justify-content: center;
}

#email {
  padding: 5px;
  min-height: 30px;
  min-width: 275px;
  margin-bottom: 20px;
}
#submit {
  min-height: 30px;
  min-width: 150px;
}
#submit:hover,
button:hover {
  background-color: #ffa500;
}
.logo {
  width: 60vw;
}
.page-wrapper {
  position: relative;
  margin: 0 30px;
}
.get-started {
  margin-top: 70px;
  text-align: center;
  line-height: 4em;
}

#header-img {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 285px;
}
