* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
  font-family: "Lato", sans-serif;
}
header {
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  min-height: 45px;
  justify-content: space-around;
  background-color: #eeeeee;
}
nav {
  font-size: 16px;
}
nav > ul {
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  width: 35vw;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #0c0c0c;
}
input {
  display: block;
  margin: 0 auto;
}

.logo {
  width: 60vw;
}
.page-wrapper {
  position: relative;
  margin: 0 30px;
}
.get-started {
  margin-top: 70px;
  text-align: center;
}

#header-img {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 285px;
}
